* {
    font-family: "Segoe UI", serif;
    font-size: medium;
    font-style: normal;
    margin: 5px;
}

a, a:visited {
    text-decoration-line: none;
    color: royalblue;
}

div.user_in_list {
    margin: 10px;
    border-bottom: 1px solid lightgray;
}

form.signout_form {
    margin: 0px;
    display: inline;
    padding: 0px;
}

form.signout_form input[type=submit] {
    border: none;
    background: none;
    font: inherit;
    color: goldenrod;
    cursor: pointer;
}