<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>

    <title th:text="'Пользователь ' + ${username}"></title>
</head>
<body>
<div th:replace="layout/header/menu-top :: menu-top"></div>
    <th:block th:if="${username != ''}">Привет,</th:block>
    <span th:text="${user.firstName + ' ' + user.lastName + ' @ ' + username}"></span>!<br><br>

    <b>Профиль</b> <br/>
    <hr/>
    <div th:switch="${user.gender}">
        <span th:case="'f'" th:text="'Женщина'"/>
        <span th:case="'m'" th:text="'Мужчина'"/>
    </div>
    <div><span th:text="${'Возраст: ' + user.age}"/><span th:text="${'Город: ' + user.city}"/></div>
    <div><span>Интересы: <span th:each="hobby : ${hobbies}" th:text="${hobby.name} + ', '"></span></span></div><br>
    <b>Френды</b>
    <hr/>
    <div th:each="friend: ${friends}">
        <a th:text="${friend.firstName + ' ' + friend.lastName + ', ' + friend.age + 'л, ' + friend.city}"
           th:href="'/user/' + ${friend.userId}">
        </a>
    </div>
    <br>
</body>
</html>